{% extends '../homepage/base.html' %}
{% block title %}{% endblock %}
{% block css_style %}
    .resetForm{
        width:35%;
    }
    @media screen and (max-width: 550px) {
    .resetForm {
        width: 900vw;
    }
    }
{% endblock %}
{% block content %}
    <div class="d-flex flex-row justify-content-center">
    <div class="resetForm">
        <form method="post" >
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label}}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <div class="d-flex flex-row-reverse mt-4"><input type="submit" class="btn btn-dark" value="Send Email" ></div>

        </form>
    </div>

    </div>

{% endblock %}